@using BaseSite.App;
@using BaseSite.App.UserManagement;
@using System.Collections.Generic;
@using Microsoft.AspNetCore.Blazor.Services;
@using System.Security.Claims;
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor _httpContextAccessor
@inject BaseSite.App.Services.UserService userService
@inject IUriHelper URIHelper
@page "/account/edituser/{email}"

<style>
    input {
        border-width: 4px;
        border-collapse: collapse;
        border-color: lightgray;
        padding: 3px;
    }

    table.UserInfo {
        border: 1px solid #1C6EA4;
        background-color: #EEEEEE;
        width: 100%;
        text-align: center;
        border-collapse: collapse;
    }

        table.UserInfo td, table.UserInfo th {
            border: 3px solid #AAAAAA;
            padding: 2px 2px;
        }

        table.UserInfo tbody td {
            font-size: 13px;
        }

        table.UserInfo td:nth-child(even) {
            background: #D0E4F5;
        }

        table.UserInfo thead {
            background: #1C6EA4;
            background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
            background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
            background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
            border-bottom: 2px solid #444444;
        }

            table.UserInfo thead th {
                font-size: 15px;
                font-weight: bold;
                color: #FFFFFF;
                text-align: center;
                border-left: 2px solid #D0E4F5;
            }

                table.UserInfo thead th:first-child {
                    border-left: none;
                }

        table.UserInfo tfoot td {
            font-size: 14px;
        }

        table.UserInfo tfoot .links {
            text-align: right;
        }

            table.UserInfo tfoot .links a {
                display: inline-block;
                background: #1C6EA4;
                color: #FFFFFF;
                padding: 2px 8px;
                border-radius: 5px;
            }
</style>
<h4>User</h4>
<table class="UserInfo">
    <thead>
        <tr>
            <th>
                Email Address
            </th>
            <th>
                Password
            </th>
        </tr>
    </thead>
    <tr>
        <td>
            <input bind="@email" readonly="readonly" />
        </td>
        <td>
            <input bind="@password" type="password" />
        </td>
    </tr>
</table>
<h4>Permissions</h4>
<ul>
    @foreach (var item in perms)
    {
        <li>
            <input type="checkbox" id="@item.Key" bind="@perms[item.Key]" value="@item.Key" />&nbsp;<label for="@item.Key">@item.Key</label>
        </li>
    }
</ul>
<div class="Save">
    <button class="btn btn-primary" onclick="@Save"><span class="oi oi-check"></span>&nbsp;Save</button>
</div>


@functions {

    [Parameter]
    private string email { get; set; }

    private string password { get; set; }

    private User user { get; set; }

    private Dictionary<string, bool> perms { get; set; }

    protected override void OnInit()
    {
        Valid("Manage Users");

        User outUser = null;

        if (!userService.Users.TryGetValue(email, out outUser))
        {
            URIHelper.NavigateTo("/account/users");
        }
        user = outUser;
        perms = new Dictionary<string, bool>();

        foreach (string permission in userService.Permissions)
        {
            perms.Add(permission, user.Permissions.Contains(permission));
        }

        base.OnInit();
    }

    private void Valid(string permission)
    {
        bool valid = false;
        try
        {
            // Set the user to determine if they are logged in
            ClaimsPrincipal principal = _httpContextAccessor.HttpContext.User;

            if (principal?.Identity?.Name != null)
            {
                if (userService.Users[principal.Identity.Name].Permissions.Contains(permission))
                {
                    valid = true;
                }
            }
        }
        catch { }

        if (!valid)
        {
            URIHelper.NavigateTo("/401");
        }
    }

    public void Save()
    {
        if (!string.IsNullOrEmpty(password))
        {
            user.SetPassword(password);
        }

        user.Permissions.Clear();

        foreach (var item in perms)
        {
            if (item.Value)
            {
                user.Permissions.Add(item.Key);
            }
        }

        userService.Users.Persist();

        URIHelper.NavigateTo("/account/users");

    }
}

